<!DOCTYPE html>
<html>
  <head>
    <title>Coursework2</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}"
    rel="stylesheet"/>
    <style>
    div{
      border: 2px solid #D2B4DE;
      margin: 25px 50px 75px 100px;
      background-color: rgba(215, 189, 226, 0.5);
      }
    </style>
  </head>
  <body background="https://data.whicdn.com/images/163419196/original.jpg">
    <div class="container">
      
      {% block content %}{% endblock %}

      {% if error %}
        <p class="error">Error: {{ error }}</p>
      {% endif %}

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>
