{% extends "index.html" %}
{% block content %}

 <h1>Welcome to your wall!</h1>
 <br>
 <h3>Share your story with the world and see what others shared with you.</h3>
 <br><br>
 <form method="POST">
   <input name="text">
   <input type="submit">
 </form>
 <br><br>
 <h4>Posts:</h4>
   {{ processed_text }} <br>
 {% for post in posts %}
   {{ post.auth }} <br>
   {{ post.stat }} <br>
 <br>
 {% endfor %}
 <br>
 <br>
 <button class="btn"><a href="/logout">Log out!</a></button> 
 <br>
 <br>

{% endblock %}
