{% extends "index.html" %}
{% block content %}

 <h1>Welcome to your wall!</h1>
 <br>
 <h3>Share your story with the world and see what others shared with you.</h3>
 <br><br>
 <form method="POST">
   <input type=text name="insname" placeholder="Whats your name?">
   <input type=text name="text" placeholder="Whats on your mind?">
   <input class="btn" type="submit" value="Post!">
 </form>
 <br><br>
 <h4>Posts:</h4>
   <strong>{{ inserted_name }}</strong>
   {{ processed_text }} <br><br> 
 {% for post in posts %}
   <strong>{{ post.auth }}</strong> 
   {{ post.stat }} <br>
 <br>
 {% endfor %}
 <br>
 <br>
 <button class="btn"><a href="/logout">Log out!</a></button> 
 <br>
 <br>

{% endblock %}
